<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
    <title></title>
    <style>
        .name {
            font-weight: bold;

        }
        .wekbod {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <p class="name">Dear {{ name }},</p>
    <p>Thank you for signing up on <span class="wekbod">wekbod!</span>  We're thrilled to have you join us.</p>
    <p>In order to complete your registration, please click the following link to confirm your email address:</p>
    <p><a href="{{ url }}">Confirm Your Email</a></p>
    <p>If you did not create an account on our platform, please ignore this email.</p>
    <p>Thank you again for joining us!</p>
    <p>Sincerely,</p>
    <p>The Wekbod Team</p>
</body>
</html>